.modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    width: 40%;
    height: 40%;
    background-color: var(--twitter-blue-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
} 

.modal--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.form--header {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #fff;
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 28px;
    font-weight: bold;
    transition: all .2s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.book--input {
    width: 50%;
    padding: .5rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.book--input {
  -moz-appearance: textfield;
}
