.heading__main {
    font-size: 3rem;
    color: var(--twitter-blue-gray);
}

.book--title {
    color: #ff6347;
    text-transform: uppercase;
    letter-spacing: .27rem;
}

.paragraph {
    font-size: 1.8rem;
}
